
<div class="row">
  <h3 class="subheader">easyMed Pillbox Information:</h3>

  <address>
    <strong>John Doe</strong><br>
    <a href="mailto:#">john.doe@example.com</a>
  </address>

  <address>
    795 Folsom Ave, Suite 600<br>
    San Francisco, CA 94107<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>
</div>
<div class="row">

<p>
  <button class="btn btn-large btn-primary" type="button">Add New Prescription</button>
  <button class="btn btn-large btn-warning" type="button">Add New Contact</button>
</p>
</div>
<div class="row">
  <h3 class="subheader">Prescriptions</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Enabled</th>
        <th>Prescription ID</th>
        <th>Prescription Name</th>
        <th>Dispensory</th>
        <th>Dispense Count</th>
        <th>Dosage</th>
        <th>Instructions</th>
        <th>Alert</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="label label-success">ON</span></td>
        <td>809QyCivcd</td>
        <td>Despramine</td>
        <td><span class="label label-info">BLUE</span></td>
        <td>2</td>
        <td>Every Morning</td>
        <td>Take with food</td>
        <td>Immediate</td>
      </tr>
      <tr>
        <td><span class="label label-success">ON</span></td>
        <td>Z73tU3WsAS</td>
        <td>Thiordazine</td>
        <td><span class="label label-important">RED</span></td>
        <td>1</td>
        <td>Morning and Evening</td>
        <td>Take with plenty of water</td>
        <td>Immediate</td>
      </tr>
      <tr>
        <td><span class="label">OFF</span></td>
        <td>2SlkbqOCT1</td>
        <td>Nefazodone</td>
        <td><span class="label label-important">RED</span></td>
        <td>1</td>
        <td>Afternoon</td>
        <td>N/A</td>
        <td>Once a day, 10pm</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3 class="subheader">Contacts</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Enabled</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Medium Type</th>
        <th>Contact Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="label label-success">ON</span></td>
        <td>Adrian</td>
        <td>Lee</td>
        <td>Email</td>
        <td>adrian.lee@mail.mcgill.ca</td>
      </tr>
      <tr>
        <td><span class="label label-success">ON</span></td>
        <td>Adrian</td>
        <td>Lee</td>
        <td>SMS</td>
        <td>+15149659922</td>
      </tr>
    </tbody>
  </table>
</div>